@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --primary: #28a745;
  --text-color: #282828;
  --complementary: #009eca;
  /* --text-color: #595959; */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: var(--background);
  font-family: var(--font-yekan-bakh), sans-serif; /* فونت اصلی */
  color: var(--text-color);
}

@media (max-width: 767px) {
  .custom-dashed-border {
    border-style: dashed;
    border-image: repeating-linear-gradient(
        to right,
        #00000040 0,
        #00000040 6px,
        transparent 4px,
        transparent 15px
      )
      1;
  }
}


input::placeholder {
  color: #2C2C2C;
}


.green {
  border: none !important;
  width: 100% !important;
  outline: none !important;
  box-shadow: none !important;
}
